@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Content/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">
                                College ERP System
                            </h5>
                            <h1 class="display-3 text-white animated slideInDown">
                                ERP Management System for College
                            </h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                Manage Students, Attendance, Fees, Courses, Faculty and Reports
                                in one centralized ERP Management System.
                            </p>
                            <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3">
                                View Modules
                            </a>
                            <a href="#" class="btn btn-light py-md-3 px-md-5">
                                Login
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Content/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3">
                                Smart College Management
                            </h5>
                            <h1 class="display-3 text-white">
                                Automate College Administration
                            </h1>
                            <p class="fs-5 text-white mb-4 pb-2">
                                Simplify academic and administrative tasks with
                                ERP Management System.
                            </p>
                            <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3">
                                Read More
                            </a>
                            <a href="#" class="btn btn-light py-md-3 px-md-5">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">

            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-graduate text-primary mb-4"></i>
                        <h5 class="mb-3">Student Management</h5>
                        <p>Manage student admission, profile, and academic details.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-calendar-check text-primary mb-4"></i>
                        <h5 class="mb-3">Attendance System</h5>
                        <p>Track daily and hourly attendance using barcode/QR.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-money-bill text-primary mb-4"></i>
                        <h5 class="mb-3">Fees Management</h5>
                        <p>Manage student fees, payments, and dues.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-chart-bar text-primary mb-4"></i>
                        <h5 class="mb-3">Reports</h5>
                        <p>Generate attendance, fees and academic reports.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-6">
                <img class="img-fluid" src="~/Content/img/about.jpg" alt="">
            </div>

            <div class="col-lg-6">
                <h6 class="section-title bg-white text-start text-primary pe-3">
                    About ERP
                </h6>
                <h1 class="mb-4">College ERP Management System</h1>

                <p class="mb-4">
                    ERP Management System is designed to automate college
                    administration including student management, attendance,
                    fees, timetable, and reports.
                </p>

                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-right text-primary me-2"></i>Student Module</p>
                    </div>

                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-right text-primary me-2"></i>Faculty Module</p>
                    </div>

                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-right text-primary me-2"></i>Attendance Module</p>
                    </div>

                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-right text-primary me-2"></i>Fees Module</p>
                    </div>

                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-right text-primary me-2"></i>Timetable Module</p>
                    </div>

                    <div class="col-sm-6">
                        <p><i class="fa fa-arrow-right text-primary me-2"></i>Reports Module</p>
                    </div>
                </div>

                <a class="btn btn-primary py-3 px-5 mt-2">
                    Learn More
                </a>
            </div>

        </div>
    </div>
</div>